.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.number {
    width: 3em;
}

.App {
    margin: auto;
    width: 65%;
    padding: 10px;
}

.toggleButton {
    width: 2em;
    background-color: white; /* Green */
    border: none;
    color: black;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkgrey;
}

h1, h2 {
    color: white;
    background-color: darkslategray;
}

label {
    font-weight: bold;
    margin-right: 1em;
}

input {
    margin-right: 1em;
}